.form-title{
  display: block;
  width: 40vw;
  height: 50px;
  margin-top: 10px;
}

.form-genre{
  display: block;
  height: 30px;
  width: 20vw;
  margin-top: 10px;
}

.form-content{
  display: block;
  width: 40vw;
  margin-top: 10px;
}

.form-button{
  display: block;
  margin: 10px auto;
  width: 100px;
  margin-top: 10px;
}

.image-hidden{
  display: block;
}

