.show-contents{  
  display: flex;
  justify-content: space-around;
  background-color: slategray;
}

.show-content{
  width: 50vw;
}

.show-title{
  
}

.show-list{
  border:1px solid black;
  margin: 10px;
}

.edits{
  margin-top: 20px;
  display: flex;
}

.edit{
  width: 50px;
  background-color: red;
  font-size: large;
  border: 1px solid black;
  margin: 40px;
}

.forms{
  margin-top: 200px;
}


.comment-title{
  display: block;
  margin: auto;
  width: 50vw;
}

.comment-button{
  display: block;
  margin: 30px auto;
  width: 100px;
}

.comments{
  margin: 100px 100px;
  background-color: skyblue;
}