<div class="contents row">
  <% @reviews.each do |review| %>
    <div class ="content_post" >
    <p><%= review.title %></p>
    <p><%= review.autor%>
    <p><%= review.content%>
  <% end %>
</div>
      